{% extends 'base.html' %}

{% block title %}
    News
{% endblock %}

{% block content %}
    <br>
    <div class="container shadow-lg p-3 mb-5 rounded">
        <div class="row">
            
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Center for Disease Control</h5>
                <p class="card-text">The Centers for Disease Control and Prevention is the national public health agency of the United States. It is a United States federal agency, under the Department of Health and Human Services, and is headquartered in Atlanta, Georgia.</p>
                <a href="https://www.cdc.gov/" class="btn btn-primary">Website</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Cable News Network</h5>
                <p class="card-text">The CNN is a multinational news-based pay television channel headquartered in Atlanta, United States. It is owned by CNN Worldwide, a unit of the WarnerMedia News & Sports division of AT&T's WarnerMedia.</p>
                <a href="https://edition.cnn.com/specials/world/coronavirus-outbreak-intl-hnk" class="btn btn-primary">Website</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">USA Today</h5>
                <p class="card-text">USA Today is an American daily middle-market newspaper that is the flagship publication of its owner, Gannett. Founded by Al Neuharth on September 15, 1982, it operates from Gannett's corporate headquarters in Virginia.</p>
                <a href="https://www.usatoday.com/news/coronavirus/" class="btn btn-primary">Website</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">The New York Times</h5>
                <p class="card-text">The New York Times is an American daily newspaper based in New York City. Founded in 1851, the Times has since won 132 Pulitzer Prizes, and has long been regarded as a national "newspaper of record".</p>
                <a href="https://www.nytimes.com/news-event/coronavirus" class="btn btn-primary">Website</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">MSN</h5>
                <p class="card-text">MSN is a web portal and related collection of Internet services and apps for Windows and mobile devices, provided by Microsoft and launched on August 24, 1995, the same release date as Windows 95.</p>
                <a href="https://www.msn.com/en-us/news/coronavirus/stories-by-state/ar-BB119PB3" class="btn btn-primary">Website</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Yahoo! News</h5>
                <p class="card-text">Yahoo! News is a news website that originated as an internet news aggregator by Yahoo!. The site was created by a Yahoo! software engineer named Brad Clawsie in August 1996. Articles came Reuters, Fox News, CNN, BBC etc.</p>
                <a href="https://news.yahoo.com/coronavirus" class="btn btn-primary">Website</a>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}